

@keyframes horizontal {
    0% { transform:translateX( -10px); }
  100% { transform:translateX(  0px); }
}

@keyframes vertical {
    0% { transform:translateY(-30px); }
  100% { transform:translateY(  0px); }
}